@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
:root {
  --header-h: 4.7rem;
  --font-size: 1.5rem;
  --font-family-base: "Lato", sans-serif;
  --font-family-heading: "Segoe UI", Arial, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active, a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  line-height: var(--line-height);
  font-family: var(--font-family-base);
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size);
  font-family: inherit;
}

.uppercase {
  text-transform: uppercase !important;
}

.pull-right {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: var(--header-h);
  background-color: #000;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav-item {
  position: relative;
}
.header .nav-item > a {
  display: block;
  height: var(--header-h);
  line-height: var(--header-h);
  padding: 0 2.4rem;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  will-change: background-color;
}
.header .nav-item:hover > a {
  background-color: #ccc;
  color: #000;
}
.header .nav-item:has(.subnav):hover > .subnav {
  display: block;
}
.header .subnav {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 16rem;
  display: none;
}
.header .subnav-item a {
  color: #000;
  display: block;
  padding: 8px 16px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  will-change: background-color;
  text-transform: capitalize;
}
.header .subnav-item:hover a {
  background-color: #ccc;
}
.header .search-btn {
  height: 100%;
  width: 6.2rem;
  color: #fff;
  background-color: transparent;
  font-size: 1.6rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  will-change: background-color;
}
.header .search-btn:hover {
  background-color: #f44336;
}
.header .btn-menu-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: var(--header-h);
  width: 6.2rem;
  background-color: transparent;
  font-size: 1.6rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  will-change: background-color, color;
  color: #fff;
}
.header .btn-menu-mobile:hover {
  background-color: #ccc;
  color: #000;
}
@media (max-width: 600px) {
  .header {
    width: 100%;
    overflow: hidden;
  }
  .header .nav {
    width: 100%;
    display: block;
  }
  .header .nav-item:first-child {
    display: inline;
  }
  .header .nav-item:first-child a {
    display: inline-block;
  }
  .header .subnav {
    position: static;
  }
  .header .search-btn {
    display: none;
  }
  .header .btn-menu-mobile {
    display: block;
  }
}

.show-menu-mobile {
  height: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.footer {
  text-align: center;
}
.footer img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}
.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.8rem;
  margin: 6.2rem 0 1.8rem;
}
.footer .social-item {
  font-size: 3rem;
  opacity: 0.6;
}
.footer .social-item a {
  color: #000;
}
.footer .social-item:hover {
  opacity: 1;
}
.footer .copyright {
  margin-bottom: 8rem;
}
.footer .copyright a {
  color: inherit;
  text-decoration: underline;
}

.band-btn {
  display: block;
  background-color: #000;
  color: #fff;
  text-transform: capitalize;
  padding: 8px 16px;
  border: none;
}
.band-btn:hover {
  background-color: #ddd;
  color: #000;
}

.modal-dialog {
  max-width: 90rem;
  width: calc(100% - 3.2rem);
  margin: 0 auto;
}

.modal-content {
  top: 3.6rem;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header {
  background-color: #009688;
  padding: 0;
}
.modal-header .modal-title {
  font-size: 3rem;
  font-family: var(--font-family-heading);
  letter-spacing: 4px;
  color: #fff;
  font-weight: 400;
  padding: 4.2rem 1.6rem;
  margin: 0 auto;
}
.modal-header .modal-title i {
  margin-right: 4px;
}
.modal-header .btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 1.6rem;
  background: unset;
  padding: 1.6rem;
  margin: 0;
  border-radius: unset;
}
.modal-header .btn-close:hover {
  background-color: #ddd;
  color: #000;
}

.modal-body {
  padding: 1.6rem;
}
.modal-body .buy-ticket-form-group:last-child {
  margin-top: 3.2rem;
}
.modal-body .buy-ticket-form-group label {
  display: block;
  margin-bottom: 1.2rem;
}
.modal-body .buy-ticket-form-group .buy-ticket-form-control {
  padding: 8px;
  width: 100%;
}
.modal-body .btn-pay {
  background-color: #009688;
  border: none;
  outline: none;
  color: #fff;
  margin-top: 3.2rem;
  width: 100%;
  text-transform: uppercase;
  padding: 1.6rem;
}

.modal-footer {
  padding: 1.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal-footer .btn-secondary {
  background-color: #f44336;
  border: none;
  font-size: 1.5rem;
  padding: 8px 16px;
  -ms-flex-item-align: center;
      align-self: center;
}
.modal-footer p a {
  text-decoration: underline;
}

.home .content {
  margin-top: var(--header-h);
}
.home .slider .carousel-caption {
  padding: 36px 0;
}
.home .slider h3 {
  font-family: var(--font-family-heading);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.6rem;
  margin: 1rem 0;
}
.home .slider p {
  font-weight: 700;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  line-height: 2.4rem;
}
.home .wrapper {
  padding: 6.4rem 1.6rem;
  margin: 0 auto;
  max-width: 80rem;
}
.home .main-title {
  font-size: 3rem;
  font-family: var(--font-family-heading);
  font-weight: 400;
  line-height: 4.5rem;
  text-align: center;
  letter-spacing: 4px;
  margin: 1rem 0;
  text-transform: uppercase;
}
.home .sologan {
  font-style: italic;
  text-align: center;
  opacity: 0.6;
  margin: 1.5rem auto;
}
.home .sologan span {
  text-transform: capitalize;
}
.home .band-description {
  text-align: justify;
  margin-bottom: 1.5rem;
}
.home .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 3.2rem 0;
}
.home .member .member-name {
  font-size: inherit;
  margin: 1.5rem 0;
  text-align: center;
}
.home .member .member-image img {
  width: 60%;
  margin: 0 auto 1.6rem;
  border-radius: 4px;
}
@media (max-width: 60rem) {
  .home .member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .member .member-item {
    width: 100%;
  }
}
.home .tour {
  background-color: #000;
}
.home .tour .main-title,
.home .tour .sologan {
  color: #fff;
}
.home .tour .sologan {
  margin-bottom: 3.9rem;
}
.home .tour .ticket {
  display: block;
  background-color: #fff;
}
.home .tour .ticket-item {
  position: relative;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
}
.home .tour .ticket-item :first-of-type {
  text-transform: capitalize;
}
.home .tour .ticket-item .sold-out {
  display: inline-block;
  padding: 0 8px;
  margin-left: 1.6rem;
  background-color: #f44336;
  color: #fff;
}
.home .tour .ticket-item .ticket-quantity {
  position: absolute;
  top: 50%;
  right: 2.4rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1px 8px;
  color: #fff;
  background-color: #000;
  text-align: center;
  border-radius: 50%;
}
.home .tour .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
  padding: 3.2rem 0 4.8rem;
}
.home .tour .address-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.home .tour .address-image {
  cursor: pointer;
}
.home .tour .address-image:hover img {
  opacity: 0.6;
}
.home .tour .address-body {
  padding: 1.6rem;
  background-color: #fff;
}
.home .tour .address-title {
  font-weight: 700;
  font-size: inherit;
  margin: 1.5rem 0;
}
.home .tour .address-date {
  opacity: 0.6;
}
.home .tour .address-description {
  margin: 1.5rem 0;
}
@media (max-width: 60rem) {
  .home .tour .address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .tour .address-item {
    width: 100%;
  }
  .home .tour .address-image {
    width: 100%;
  }
  .home .tour .address-image img {
    width: 100%;
  }
}
.home .contact-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 3.2rem 0 4.8rem;
}
.home .contact-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.home .contact-info-item {
  font-size: 1.8rem;
}
.home .contact-info i {
  width: 3rem;
}
.home .contact-info a {
  color: #3498db;
}
.home .contact-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.home .contact-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 1.6rem;
}
.home .contact-control input[type=text],
.home .contact-control input[type=email] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 8px;
}
@media (max-width: 60rem) {
  .home .contact-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .contact-form {
    width: 100%;
    gap: 1.6rem;
    margin-top: 3.2rem;
  }
  .home .contact-control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .contact-control input[type=text],
  .home .contact-control input[type=email] {
    width: 100%;
  }
  .home .contact-control input[type=submit] {
    -ms-flex-item-align: end;
        align-self: end;
  }
}